<h1>Recherche</h1>

<form (submit)="getLudotheque(searchedItem.value)">
    <div class="col-xs-3" style="padding-left: 0px;">
        <input #searchedItem placeholder="ex: Final fantasy" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>

<p></p>

<table class='table' *ngIf="items">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | async">
            <td>
                {{ item.nomItem }}
                <div>
                    <ng-container *ngFor="let tag of item.tags">
                        <span class="badge" style="font-size: 75%">
                            {{tag.nomTag}}
                        </span>
                    </ng-container>
                </div>
            </td>
        </tr>
    </tbody>
</table>
