<h1>Recherche</h1>

<form (submit)="getLudotheque(searchedItem.value)">
    <input #searchedItem placeholder="ex: Final fantasy" />
    <button type="submit">Rechercher</button>
</form>

<table class='table' *ngIf="items">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | async">
            <td>{{ item.nomItem }}</td>
            <!--<td ngFor="let tag of item.tags">>{{ tag.nomTag }}</td>-->
        </tr>
    </tbody>
</table>
