@using Ludotek2.Models
@{
    ViewData["Title"] = "Jeux vidéo";
}

@model List<ItemViewModel>

<div class="text-center">
    <h1 class="display-4">Les jeux vidéos</h1>
</div>

<div class="mt-5">
    <table id="table"
           class="table table-striped table-hover"
           data-toggle="table"
           data-pagination="true"
           data-pagination-loop="false"
           data-page-list="[5, 10, 25, 50, All]"
           data-sortable="true"
           data-search="true"
           data-search-align="left"
           data-filter-control="true"
           data-sort-select-options="true">
        <thead>
            <tr>
                <th data-field="nom" data-sortable="true">Nom</th>
                <th data-field="plateforme" data-filter-control="select">Plateforme</th>
                <th data-field="isTermine" data-filter-control="select">Terminé ?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nom</td>
                    <td>@item.Plateforme</td>
                    <td>@item.IsTermine</td>
                </tr>
            }
        </tbody>
    </table>
</div>
