@using LudotekV2.Models
@{
    ViewData["Title"] = "La roue des jeux";
    var totalOccurences = Model.Entries.Where(e => e.Nom != "Rejouer" && e.Nom != "Je paye mon sub").Sum(e => e.NombreOccurence);
}

@model WheelViewModel

<div class="text-center">
    <h1 class="display-4">@Model.NomRoue</h1>
</div>

<div class="mt-5">
    <table id="table"
           class="table table-striped table-hover"
           data-toggle="table">
        <thead>
            <tr>
                <th data-field="nom">Jeu</th>
                <th data-field="nombreOccurence">Nombre d'entrée</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Entries)
            {
                <tr>
                    <td>@item.Nom</td>
                    <td>@item.NombreOccurence</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center mt-3">
    <h3 class="display-6">TOTAL : @totalOccurences / 35 entrées</h3>
</div>
